# Исключаем виртуальное окружение
venv/

# Кэш python
__pycache__/
*.py[cod]

# База данных SQLite
*.sqlite3

# Логи
*.log

# Файлы среды
.env

# IDE/редактор
.vscode/
.idea/

# Компиляции и временные файлы
*.egg-info/
*.egg
*.bak
*.swp
